   
html {
	background-color: #323651;
	background-image: url(/img/blue-canvas.jpeg);
}

body {
	width: calc(100% - 4em);
	max-width: 50em;
	margin: auto;
	text-shadow: #000000 1px 1px 1px;
}

.crumbs {
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	right: 0;
	padding: 10px 10px 15px 10px;
	height: 10pt;
	vertical-align: center;
	font-size: 10pt;
	background-color: black;
	color: white;
	border-bottom: 2px outset black;
	z-index: 1;
	font-weight: bold;
	font-family: Utopia, Palatino, serif;
	white-space: nowrap;
}

.crumb {
	display: inline-block;
}

.crumb::after {
	display: inline-block;
	content: '\25B6';
	font-size: 50%;
	color: white;
	font-weight: bold;
	padding: 0px 4px 0px 6px;
}

h1.pagetitle {
	position: absolute;
	top: 30pt;
	left: 5%;
	color: #FFFFFF;
	z-index: 0;
	font-size: 28pt;
	white-space: nowrap;
	
}

main {
	margin: 100pt 0 3pt 0;
	border: 5px inset #0F1F3F;
	padding: 2em;
	background-color: #000F1F;
	color: #FFDFBF;
	font-family: Utopia, Palatino, serif;
	text-align: justify;
	text-justify: inter-word;
}

footer {
	font-size: small;
	font-weight: bold;
	text-align: center;
	color: #DFDFDF;
	font-family: Helvetica, sans-serif;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	line-height: 1.5;
}

code {
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	color: white;
	white-space: nowrap;
}

img {
	margin: 2px;
	border: 2px outset #001F3F;
}

h1,h2,h3,h4,h5,h6 {
	color: #33AAFF;
	text-shadow: #000000 3px 3px 3px;
}

h1,h2,h3 {
	font-variant: small-caps;
}

a:link {
	color: #FFAA66;
}

a:hover {
	color: #FFAA00;
}

a:visited {
	color: #996633;
}

hr {
	border: 1px outset grey;
	margin: 30px 20px 30px 20px;
}


header > hr {
	margin: 50px 20px 50px 20px;
}

footer > hr {
	margin: 30px 20px 20px 20px;
}

footer > strong {
	color: #FFFFFF;
}

table.metadata {
	max-width: 100%;
	width: auto;
	margin: auto;
	padding: 1em;
	background-color: #0F0F0F;
	border: 5px ridge #2F2F2F;
	border-spacing: 1em 0;
	font-family: Courier New, Courier, monospace;
	font-size: 90%;
	line-height: 1.5;
}

.metadata th {
	font-weight: 800;
	text-align: right;
	color: white;
}

.metadata td {
	text-align: left;
}

main ul li {
	padding: 0.5ex;
}

main ol li {
	padding: 0.5ex;
}

table {
	min-width: calc(100% - 2em);
	margin: 2em auto 0 auto;
	background-color: black;
	padding: 1px;
	border: 3px ridge #2F2F2F;
	text-align: center;
	vertical-align: center;
}

thead {
	font-family: Helvetica, sans-serif;
	color: white;
	background-color: #423251;
}

tbody {
	font-family: Utopia, Palatino, serif;
	color: white;
	background-color: #0F0F0F;
}

thead th, thead td {
	padding: 0.5em;
}


tbody th, tbody td {
	padding: 0.4em;
}

th {
	font-weight: bold;
}